* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
a {
  text-decoration: none;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #198c90;
  /*background-image: linear-gradient(to right, #008066, #004d80, #008066);*/
  color: white;
  padding-top: 20px;
  box-shadow: 5px 5px 5px #222;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#menu div {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#menu div:hover {
    text-shadow: 1px 1px 5px #000;
    font-weight: 600;
}

#content {
  margin-left: 200px;
}
#home {
    margin: 0 auto;
    max-width: 800px;
    height: 80vh;
    padding: 20px;
    text-align: center;
    color: #131313;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
#universe-gif{
    width: 550px;
    height: 200px;
    aspect-ratio: 25 / 9; 
  overflow: hidden; 
}

footer {
    height: 200px;
  text-align: center;
  padding: 20px;
  background-color: #423d4c;
}
