@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

/************ Colors ************/

:root {
  --first-color: #fefefe;
  --second-color: #131313;
  --third-color: #198c90;
  --fourth-color: #125e60;
  --fifth-color: #3d444c;
  --sixth-color: #e6736f;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: var(--first-color);
}
a {
  text-decoration: none;
}
#content {
  margin-left: 180px;
}
.invert {
  filter: invert();
}

/*****************MENU*****************/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: var(--third-color);
  color: var(--first-color);
  font-size: 14px;
  padding-top: 20px;
  box-shadow: 5px 5px 5px var(--second-color);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.item-menu {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-menu:hover {
  text-shadow: 1px 1px 5px var(--second-color);
  background-color: var(--fourth-color);
  font-size: 16px;
}

.rubro-icon {
  width: 30px;
}

.whats {
  filter: drop-shadow(0px 0px 8px var(--second-color));
}
.rubro-title {
  display: block;
  margin: 0 0 10px;
}

/*****************HOME*****************/
#home {
  margin: 0;
  text-align: center;
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
span {
  font-family: "Aclonica", "Arial";
}
.lyra {
  font-size: 35px;
}
.distribuidora {
  font-size: 25px;
  background: var(--fifth-color);
  width: 100%;
  padding: 20px;
}
.logo {
  width: 80px;
  filter: invert();
  margin-right: 30px;
}
.slogan {
  font-size: 25px;
  font-weight: 600;
  padding: 50px;
}
.div-collage {
  display: flex;
  filter: opacity(50%);
}
.collage,
.collage2 {
  width: 25%;
}
.mirror,
.mirror2 {
  width: 25%;
  transform: scaleX(-1);
}
.car {
  width: 60px;
}
.delivery {
  max-width: 350px;
  width: 100%;
  margin: 30px;
  background-color: var(--fifth-color);
  border-radius: 5px;
  color: var(--first-color);
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#briseida {
  position: relative;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

/*****************SEARCH*****************/

#search-container {
  margin: 20px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#search-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.content-item {
  margin: 20px 0;
  font-size: 18px;
}

/*****************FORM*****************/
#contenedor-formulario {
  background: var(--first-color);
  border-radius: 5px;
  border: 3px solid var(--third-color);
  padding: 10px;
  margin: 20px;
}
#titulo-formulario {
  color: var(--fifth-color);
}
.icono-contacto {
  width: 80px;
  height: auto;
}
form {
  text-align: left;
}
#send-button {
  background-color: var(--sixth-color);
}
#send-button:hover {
  box-shadow: 0px 0px 10px var(--second-color);
}

/*****************CAROUSEL*****************/
.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-and-text img {
  max-width: 340px;
  padding: 0 20px;
}
.img-and-text p{
  height: 200px;
  padding: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Cambia el color de fondo de las flechas */
  border-radius: 50%; /* Hace que las flechas sean redondas */
  width: 50px;
  height: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Aumenta el área de clic de las flechas */
}

/*****************FOOTER*****************/

footer {
  text-align: center;
  padding: 40px;
  background-color: var(--fifth-color);
}
footer p {
  color: var(--first-color);
}
.footer-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#iconos {
  text-align: center;
  padding-bottom: 10px;
}
#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: var(--third-color);
}
#iconos i:hover {
  filter: invert();
}

/*****************RESPONSIVE*****************/

@media (max-width: 768px) and (min-width:569px) {
  .img-and-text img {
    max-width: 300px;
    padding: 0 10px;
  }
}

@media (max-width:568px){
  .img-and-text img {
    max-width: 200px;
    padding: 0 10px;
  }
  .footer-div {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #content {
    margin-left: 60px;
  }
  #menu {
    width: 60px;
    font-size: 12px;
    padding-bottom: 10px;
  }
  .rubro-title {
    display: none;
  }
  .lyra {
    font-size: 22px;
  }
  .distribuidora {
    font-size: 16px;
  }
  .logo {
    width: 40px;
    margin: 10px;
  }
  .collage,
  .mirror {
    width: 50%;
  }
  .collage2,
  .mirror2 {
    display: none;
  }
  .car {
    width: 50px;
  }
  .delivery {
    max-width: 250px;
    font-size: 14px;
  }
  #search-input {
    font-size: 12px;
    margin-bottom: 15px;
  }
  #search-button {
    font-size: 12px;
  }
  .slogan {
    padding: 30px;
    font-size: 20px;
  }
}
