/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Colors ************/

:root {
  --first-color: #e6e6e6;
  --second-color: #9d3172;
  --third-color: #d3a61d;
  --fourth-color: #176589;
  --fifth-color: #999;
  --sixth-color: #010101;
  --seventh-color: #d9d9d91a;
  --eighth-color: #ffffff80;
  --nineth-color: #444;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--sixth-color) !important;
  color: var(--first-color) !important;
  font-family: 'Centra', sans-serif !important;
}
p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
button {
  border: 0;
  background-color: transparent;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
.social-icon {
  display: inline-block;
  margin-left: 10px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: var(--seventh-color);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid var(--eighth-color);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: var(--first-color);
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.footer{
  background-color: #3b13bd;
  color: rgb(18, 14, 14);
}
